# fly.toml app configuration file generated for pulse-api-withered-dust-1394 on 2025-12-27T09:39:21Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pulse-api-withered-dust-1394'
primary_region = 'ord'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = "requests"
    hard_limit = 250
    soft_limit = 200

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/health"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

